/* header.component.css */

.navbar {
  background-color: rgb(0, 0, 0,0.2);
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Raspored elementa po horizontali */
  align-items: center; /* Centriranje vertikalno */
  padding: 10px 20px; /* Unutrašnji padding */
  height: 45px;
}

.left-section {
  display: flex;
}

.left-section a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.left-section a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
  height: 25px;
}
.left-section .nav-icon {
  width: 55px; /* Prilagodi veličinu ikone prema potrebi */
  height: 35px; /* Prilagodi veličinu ikone prema potrebi */
}
.right-section {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #180660;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.login-button:hover {
  background-color: #18c7e1;
  color: #333;
  
}
