<header class="navbar">
  <div class="left-section">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="Home" class="nav-icon" />
    </a>
    <a routerLink="/events">Events</a>
    <ng-container *ngIf="isAdmin">
      <a routerLink="/create-event" class="create-event-button">Create Event</a>
    </ng-container>
  </div>
  <div class="right-section">
    <ng-container *ngIf="isLoggedIn(); else loginSection">
      <a (click)="logOut()" class="login-button">Logout</a>
    </ng-container>
    <ng-template #loginSection>
      <a routerLink="/login" class="login-button">Login</a>
    </ng-template>
  </div>
</header>
