.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Promenjeno sa 'center' na 'flex-start' */
  padding: 10px 20px;
  height: 70px; /* Povećana visina */
}

.left-section {
  display: flex;
  align-items: flex-start; /* Promenjeno sa 'center' na 'flex-start' */

}

.left-section a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px; /* Smanjen padding */
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease; /* Dodata tranzicija za padding */
  margin-left: 15px;
}

.left-section a:first-child {
  padding: 0; /* Uklonjena padding za ikonu da bi bila pravilno poravnata */
}

.left-section a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 10px; /* Smanjen padding pri hoveru */
}

.left-section .nav-icon {
  width: 60px;
  height: 60px;
  margin-right: 0px;
  align-self: flex-start; /* Dodato da bi ikona bila poravnata na vrhu */
  transition: background-color 0.3s ease; /* Dodata tranzicija za hover */
  margin-left: -15px;
}

.left-section .nav-icon:hover {
  background-color: transparent; /* Uklonjen efekat hovera za ikonu */
}

.right-section a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #180660;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.login-button:hover {
  background-color: #18c7e1;
  color: #333;
}
