/* header.component.css */

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Raspored elementa po horizontali */
  align-items: center; /* Centriranje vertikalno */
  padding: 10px 20px; /* Unutrašnji padding */
  height: 35px; /* Prilagoditi visinu navigacionog bara */
}

.left-section {
  display: flex;
  align-items: center; /* Centriranje elemenata vertikalno */
}

.left-section a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px; /* Unutrašnji padding */
  text-decoration: none;
  display: flex;
  align-items: center; /* Centriranje vertikalno */
}

.left-section a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 8px 18px;
}

.left-section .nav-icon {
  width: 70px; /* Prilagodi veličinu ikone prema potrebi */
  height: 70px; /* Prilagodi veličinu ikone prema potrebi */
  margin-right: 10px; /* Razmak između ikone i tekstualnog linka */
}

.right-section a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  align-items: center; /* Centriranje vertikalno */
}

.login-button {
  background-color: #180660;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.login-button:hover {
  background-color: #18c7e1;
  color: #333;
  
}
