<div class="homepage">
  <div class="card" *ngFor="let event of paginatedEvents">
      <img src="{{ event.imageUrl}}" alt="Event Image">
      <h1>{{ event.title }}</h1>
      <div class="stadium">{{ event.stadium }}</div>
      <div class="date">
          <span class="icon"><i class="fas fa-calendar-alt"></i></span>
          {{ event.date }}
      </div>
      <button class="overlay-button" (click)="navigateToTicketComponent()">Kupi ulaznicu</button>  </div>
</div>
<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1"><</button>
  
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">></button>
</div>

