.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    width: 20%; /* Adjust width as needed */
    margin-right: 20px; /* Space between controls and cards */
  }
  
  .search-bar {
    margin-bottom: 10px;
  }
  
  .search-bar input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 100px;
  }
  
  .sort-container {
    display: flex;
    flex-direction: column;
  }
  
  .sort-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  .sort-container select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    width: 100px;
  }
  
  .homepage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(23.33% - 20px), 1fr)); /* Maksimalno tri kartice u redu */
    gap: 5px;
    justify-items: center;
    flex-grow: 1; /* Allow to grow and fill the remaining space */
  }
  
  .card {
    width: 250px; /* Računanje širine kartice za tri u redu */
    height: 310px;
    border-radius: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 300px;
  }
  
  .card img {
    width: 100%;
    height: auto; /* Automatska visina da bi zadržala proporcije */
  }
  
  .card h1 {
    font-size: 1.2em;
    margin: 0;
  }
  
  .card .stadium {
    font-size: 0.8em;
    margin-bottom: 5px; /* Smanjujemo razmak ispod opisa na 5px */
    font-style: italic;
    flex-grow: 1;
  }
  
  .card .date {
    font-size: 0.9em; /* Smanjena veličina fonta za datum */
    margin: 8px 10px;
  }
  
  .card .date .icon {
    margin-right: 10px;
  }
  
  .card button {
    background-color: #180660; /* Boja pozadine dugmeta */
    color: #ffffff; /* Boja teksta na dugmetu */
    padding: 5px 5px; /* Smanjen padding dugmeta */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9em; /* Smanjena veličina fonta */
    margin: 0 auto 5px; /* Centriranje dugmeta horizontalno */
  }
  
  .card button:hover {
    background-color: #0969df; /* Promena boje na hover */
  }
  
  .pagination-controls {
    width: 130px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    padding: -5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Osigurava da je kontrola paginacije iznad ostalih elemenata */
  }
  
  .pagination-controls button {
    background-color: #180660;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    margin: 0 5px;
  }
  
  .pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination-controls span {
    font-size: 1em;
  }
  