/* CSS stil za karticu događaja */

.homepage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(23.33% - 20px), 1fr)); /* Maksimalno tri kartice u redu */
    gap: 5px;
    justify-items: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

.card {
    width: 250px; /* Računanje širine kartice za tri u redu */
    height: 300px;
    border-radius: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: -5px;
}

.card img {
    width: 100%;
    height: auto; /* Automatska visina da bi zadržala proporcije */
}

.card h1 {
    font-size: 1.2em;
    margin: 0;
    margin-top: -15px; /* Dodajemo 15px margine iznad naslova */
}

.card .stadium {
    font-size: 0.8em;
    margin-bottom: 5px; /* Smanjujemo razmak ispod opisa na 5px */
    font-style: italic;
    height: auto; /* Uklanjamo fiksiranu visinu, neophodno ako je automatska visina */
    flex-grow: 1;
    margin-top: -15px; /* Dodajemo 15px margine iznad opisa */
}

.card .date {
    font-size: 0.9em; /* Smanjena veličina fonta za datum */
    margin: 8px 10px;
    margin-top: -10px;
}

.card .date .icon {
    margin-right: 10px;
}

.card button {
    background-color: #180660; /* Boja pozadine dugmeta */
    color: #ffffff; /* Boja teksta na dugmetu */
    padding: 5px 5px; /* Smanjen padding dugmeta */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9em; /* Smanjena veličina fonta */
    margin: 0 auto 5px; /* Centriranje dugmeta horizontalno */
    width: 100px;
}

.card button:hover {
    background-color: #0969df; /* Promena boje na hover */
}
.pagination-controls {
    width: 130px;
    position: fixed;
    bottom: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    background: rgba(0,0,0 0.2);
    padding: -5px;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Osigurava da je kontrola paginacije iznad ostalih elemenata */
}

.pagination-controls button {
    background-color: #180660;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    margin: 0 5px;
}

.pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 1em;
}
.search-bar {
    margin-left: 20px; /* Prilagodite margine prema potrebi */
    margin-top: 20px; /* Prilagodite margine prema potrebi */
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 100px; /* Prilagodite širinu polja prema potrebi */
    height: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.search-bar input[type="text"]::placeholder {
    color: #999; /* Boja placeholder teksta */
}

.search-bar input[type="text"]:focus {
    outline: none;
    border-color: #0969df; /* Boja ivice polja prilikom fokusa */
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #180660; /* Boja pozadine dugmeta */
    color: #fff; /* Boja teksta na dugmetu */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0969df; /* Promena boje na hover */
}
