html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Sprečava skrolovanje */
}

.home {
    position: fixed; /* Postavlja element kao fiksirani */
    top: 0;
    left: 0;
    width: 100vw; /* Postavlja širinu na širinu viewport-a */
    height: 100vh; /* Postavlja visinu na visinu viewport-a */
   /* background-image: url('/assets/pro.jpg');*/
    background-size: cover; /* Osigurava da slika pokriva ceo kontejner */
    background-position: center; /* Centriranje slike */
    background-repeat: no-repeat; /* Sprečava ponavljanje slike */
}
