<div class="ticket-container">
    <div class="ticket-content">
        <div class="ticket-form">
            <h2>Kupovina karte</h2>
            <form>
                <div class="form-group">
                    <label for="selectedRow">Red:</label>
                    <select id="selectedRow" [(ngModel)]="selectedRow" name="selectedRow" required>
                        <option value="" disabled selected>Izaberite red</option>
                        <option *ngFor="let row of rowOptions" [value]="row">{{ row }}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="selectedSeat">Broj sjedišta:</label>
                    <select id="selectedSeat" [(ngModel)]="selectedSeat" name="selectedSeat" required>
                        <option value="" disabled selected>Izaberite broj sjedišta</option>
                        <option *ngFor="let seat of seatOptions" [value]="seat">{{ seat }}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="cardNumber">Broj kartice:</label>
                    <input type="text" id="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" required>
                </div>
                
                <div class="form-group">
                    <label for="cardHolderName">Ime na kartici:</label>
                    <input type="text" id="cardHolderName" [(ngModel)]="cardHolderName" name="cardHolderName" required>
                </div>
                
                <div class="form-group">
                    <label for="expiryDate">Datum isteka:</label>
                    <input type="text" id="expiryDate" [(ngModel)]="expiryDate" name="expiryDate" required>
                </div>
                
                <div class="form-group">
                    <label for="cvc">CVC:</label>
                    <input type="text" id="cvc" [(ngModel)]="cvc" name="cvc" required>
                </div>
            
                <button type="button" (click)="purchaseTicket()">Kupi</button>
            </form>
        </div>

        <div class="event-details">
            <img src="../../assets/enfiled.jpg" alt="Event Image" class="event-image">
            <!-- Ostali detalji događaja -->
        </div>
    </div>
</div>


